:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding-left: 0;
}

ul a {
  color: rgb(10, 22, 18);
}

ul a.active {
  color: #747bff;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.container {
  display: flex;
  justify-content: center;
}

.users_profile {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  margin-top: 30px;
}

.users_profile div {
  border: dashed 1px rgb(137, 131, 131);
  text-align: left;
  padding-left: 10px;
}
